*.aux
*.bbl
*.bcf
*.blg
*.cpp
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.h
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.los
*.lot
*.out
*.pdf
*.ptc
*.stamp
*.svg
*.toc
*.pdf
*.xdv
*.xml
__pycache__/
book-stamp
init-stamp
