*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.los
*.lot
*.out
*.pdf_tex
*.ptc
*.svg
*.toc
*.pdf
!figs/*.pdf
*.xdv
*.xml
bib-stamp
format-stamp
