jobs:
- job: Compilation
  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.6'
      architecture: 'x64'
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y latexmk texlive-xetex texlive-latex-extra \
          texlive-generic-extra texlive-bibtex-extra biber inkscape ghostscript
    displayName: 'Install system dependencies'
  - script: |
      git clone --depth=1 git://github.com/python-control/python-control \
        $(Agent.BuildDirectory)/python-control
      cd $(Agent.BuildDirectory)/python-control && git apply $(Build.Repository.LocalPath)/patches/0001-Don-t-remove-unobservable-or-uncontrollable-states-f.patch
      pip install --user -e $(Agent.BuildDirectory)/python-control

      pip3 install --user frccontrol black
    displayName: 'Install Python packages'
  - script: |
      ./format_code.py
    displayName: 'Run Python formatter'
  - script: |
      git --no-pager diff --exit-code HEAD  # Ensure formatter made no changes
    displayName: 'Check formatter output'
  - script: |
      # Make sure .git/refs/heads/master exists
      git checkout -b pr
      git checkout master
      git checkout pr

      make -j$(nproc) ebook
      cp state-space-guide-ebook.pdf $(Build.ArtifactStagingDirectory)/state-space-guide.pdf
    displayName: 'Generate PDF'
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: state-space-guide.pdf
