name: Lint

on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install system dependencies
      run: make setup_ubuntu
    - name: Lint .py and .tex files
      run: make -j$(nproc) lint
    - name: Ensure formatters made no changes
      run: git --no-pager diff --exit-code HEAD
